*/*/*/*.pyc
*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*/*.pyc
*/*/*/*/*/*.pyc
.idea/*
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
.DS_Store
data/*
trimmer/trimmer/settings.py
data3/HTML_Reports/*
data3/AnnotatedResults/*
data3/StatusReports/*