*/*/*/*.pyc
*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*/*.pyc
*/*/*/*/*/*.pyc
.idea/*
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
.DS_Store
data/*
data2/*
trimmer/trimmer/settings.py
data3/HTML_Reports/*
data3/AnnotatedResults/*
data3/StatusReports/*
trimmer/picklequeries/*
trimmer/jupyter/.ipynb_checkpoints/*
trimmer/.ipynb_checkpoints/*
trimmer/jupyter/*.csv
.idea/*
junk/*


trimmer/DeepAb
trimmer/DeepAb/*
trimmer/scrape-google-scholar

trimmer/jupyter/BioPhi
trimmer/jupyter/PaperScraper
trimmer_reports_emails/*
