{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Datatables stuff -->
<link rel="stylesheet" href="{% static "css/jquery.dataTables.css" %}">
<link rel="stylesheet" href="{% static "css/jquery.dataTables.min.css" %}">
<link rel="stylesheet" href="{% static "css/responsive.dataTables.min.css" %}">
<script src="{% static "js/jquery-1.9.1.js" %}"></script>
<script src="{% static "js/jquery.dataTables.js" %}"></script>
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "js/dataTables.responsive.min.js" %}"></script>
<script src="{% static "js/jquery.dataTables.js" %}"></script>


<style>


table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

</style>

<script>


$(document).ready(function(){ $('#myTable').DataTable(); });

$(document).ready( function () {
  var table = $('#example').DataTable({
  });
} );
$(document).ready(function() {
    $('#example2').DataTable({"pageLength": 50, searching: false, paging: false, info: false, ordering: false, wrap: true});
} );
$(document).ready(function() {
    $('#example1').DataTable({"pageLength": 50, searching: false, paging: false, info: false, ordering: false, wrap: true});
} );

</script>

  <!-- The Header Bio Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="about_me">

    <div class="row">
        {% if graph %}
            <div class="column" style="width:100%;height:100%">
            {{ graph|safe }}
            </div>
        {% endif %}
    </div>

    <div class="row">
        {% if graph_pct %}
            <div class="column" style="width:100%;height:100%">
            {{ graph_pct|safe }}
            </div>
        {% endif %}
    </div>

    <div class="row">
        {% if graph_seq %}
            <div class="column" style="width:100%;height:100%">
            {{ graph_aa|safe }}
            </div>
        {% endif %}
    </div>

    <div class="row">
        {% if graph_seq %}
            <div class="column" style="width:100%;height:100%">
            {{ graph_domain|safe }}
            </div>
        {% endif %}
    </div>

    <div class="row">
        {% if graph_seq %}
            <div class="column" style="width:100%;height:100%">
            {{ graph_seq_start|safe }}
            </div>
        {% endif %}
    </div>

    <div class="row">
        {% if graph_seq %}
            <div class="column" style="width:100%;height:100%">
            {{ graph_seq_stop|safe }}
            </div>
        {% endif %}
    </div>

    <div class="row">
        {% if graph_seq %}
            <div class="column" style="width:100%;height:100%">
            {{ graph_score|safe }}
            </div>
        {% endif %}
    </div>


</div>


{% endblock %}