{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
td {
    white-space: nowrap;
}

td.wrapok {
    white-space:normal
}
</style>

<!-- Datatables stuff -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.17/css/jquery.dataTables.css">
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.17/js/jquery.dataTables.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/1.0.7/css/responsive.dataTables.min.css">
<script>




$(document).ready(function(){ $('#myTable').DataTable(); });

$(document).ready( function () {
  var table = $('#example').DataTable({
  });
} );

$(document).ready(function() {
    $('#example1').DataTable({"pageLength": 50, searching: false, paging: false, info: false, ordering: false});
} );


</script>


  <div class="w3-container w3-content w3-center w3-padding-64" style=" max-width:10000px">
  </div>

<div class="w3-container w3-content w3-center w3-padding-5" style="max-width:10000px">
  <h2>Entry Results</h2>
        <table id="example" class="display responsive nowrap" cellspacing="0" width="100%" align="left">
              <thead>
                <tr>
                    <th>ID</th>
                    <th>Mab ID</th>
                    <th>Plate Name</th>
                    <th>Plate Location</th>
                    <th>Volume</th>
                    <th>Concentration</th>
                    <th>Comments</th>
                    <th>Amplicon</th>
                    <th>Failure</th>
                    <th>Inline Index Name</th>
                    <th>Inline Index</th>
                    <th>LCs Reported</th>
                    <th>HCs Reported</th>
                    <th>Full Entry Info</th>
                </tr>
              </thead>
          <tbody>
          {% for item in all_entries %}
              <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{item.entry.mabid}}</td>
                  <td>{{item.plate_name}}</td>
                  <td>{{item.plate_location}}</td>
                  <td>{{item.volume}}</td>
                  <td>{{item.concentration}}</td>
                  <td>{{item.comments}}</td>
                  <td>{{item.amplicon}}</td>
                  <td>{{item.failure}}</td>
                  <td>{{item.inline_index_name}}</td>
                  <td>{{item.inline_index}}</td>
                  <td>{{item.LCs_reported}}</td>
                  <td>{{item.HCs_reported}}</td>
                  <td>
                    <a href="/new_entry/{{item.entry.pk}}/">
                      <button  label="Entry Details" name="so_link" class="btn btn-info">See Full Entry</button>
                    </a>
                  </td>
              </tr>
          {% empty %}
           <div>No entries yet.</div>
          {% endfor %}
           </tbody>
        </table>
</div>
<div class="w3-container w3-content w3-center w3-padding-5" style="max-width:10000px">

    <h3>These are Status - Entries MabIDs:</h3>
    <p>{{status_not_in_entries}}</p>
    <h3>These are Entries - Status MabIDs: (likely due to the Sanger plate for now)</h3>
    <p>{{entries_not_in_status}}</p>
    <h3>These are Metadata - Status MabIDs:</h3>
    <p>{{metadata_minus_status}}</p>
    <br>
    <br>
    <br>
</div>


<div class="w3-container w3-content w3-center w3-padding-5" style="max-width:10000px">
    <h3>Messages: </h3>

    {% for item in messages %}
          <p>{{item.message}}</p>
  {% empty %}
   <div>No entries yet.</div>
  {% endfor %}

</div>


{% endblock %}